doctype html
html
  head
    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Greg Considine's development portfolio")
    meta(name="author", content="Greg Considine")

    link(href='/images/favicon.png', rel='shortcut icon')

    if environment == 'production'
      link(rel="stylesheet", href="/css/app.min.css?v=f3e9cc6331351b96ddc79cebb0ad5178")
    else 
      link(rel="stylesheet", href="/css/app.css?v=d990ab356067efe876010907b68cb766")

    block styles

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55226347-1', 'greg-considine.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar

          a.navbar-brand(href='#')
            #logoHeader.gc-logo-header(height='300px')

        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav.gc-nav-buttons
            li
              a.gc-scroll(href='#activity') Activity
            li
              a.gc-scroll(href='#canvasAnimations') Animations
            li
              a.gc-scroll(href='#openSource') Open Source
            li
              a.gc-scroll(href='#contactMe') Contact
            li
              a(href='https://blog.greg-considine.com') Blog 

    block body

    .container.gc-footer
      .col-md-4.gc-built-with
          h3 Built With

          a(title='Sails.js')
            .pull-left.gc-icon-sprite.gc-sprite-sails
          a(title='HTML5')
            .pull-left.gc-icon-sprite.gc-sprite-html
          a(title='Twitter Bootstrap')
            .pull-left.gc-icon-sprite.gc-sprite-bootstrap
          a(title='Grunt')
            .pull-left.gc-icon-sprite.gc-sprite-grunt

      .col-md-3.gc-connect
        h3 Connect

        a(href='http://www.linkedin.com/pub/greg-considine/60/384/710', title='LinkedIn', target='_blank')
          .pull-left.gc-icon-sprite.gc-sprite-linkedin
        a(href='https://github.com/gconsidine', title='GitHub', target='_blank')
          .pull-left.gc-icon-sprite.gc-sprite-github
        a(href='https://twitter.com/greg_considine', title='Twitter', target='_blank')
          .pull-left.gc-icon-sprite.gc-sprite-twitter

      .col-md-5.gc-info
        h3 Info

        p
          | Greg Considine 

          br

          a(href='/files/greg-considine.pdf', target='_blank') R&eacute;sum&eacute;

          br

          | Copyright &copy; 2013-2015 

          a(href='/') greg-considine.com

    if environment == 'production'
      script(src="/js/app.min.js?v=c27883631f2518c0873b2771e45af884")
    else 
      script(src="/js/app.js?v=9b642e4b546b4f1ced8c4c67f45b467f")

