extends ./layout

block body
  #canvasReturn.canvas-return(title='Return Home')

  .square
    .canvas-container
      canvas#canvas(width='750', height='500')

    .canvas-title
      p
        em Squares and Triangles
