{{#each this}}
  <p class="gc-activity-title">
    <a href="https://twitter.com/greg_considine/status/{{idString}}" target="_blank">{{id}}</a> | <em>{{date}}</em>
  </p>
  <p>
    {{{tweet}}}
  </p>
{{/each}}

